@(programs: List[Program])

@import helper._
@import helper.twitterBootstrap._

@main("Lista de Programas") {

    <h1>@programs.size Programas</h1>
    <table class="table table-striped">
    <thead>
        <tr>
            <td>Programa</td>
            <td>Episodio</td>
            <td>Descripción</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
            @programs.map { program =>
            <tr>
                <td><a href="@routes.ProgramController.setupProgram(program.id)">@program.name</a></td>
                <td>@program.episode</td>
                <td>@program.description</td>
                <td></td>
            </tr>
            }
    </tbody>
    </table>
}
