@(schedules: List[Schedule])

@import helper._
@import helper.twitterBootstrap._

@main("Lista de Programación") {

    <h1>@schedules.size Programaciones</h1>
    <table class="table table-striped">
    <thead>
        <tr>
            <td>Programa</td>
            <td>Comienzo</td>
            <td>Duración</td>
        </tr>
    </thead>
    <tbody>
            @schedules.map { schedule =>
            <tr>
                <td>@schedule.prog</td>
                <td>@schedule.start</td>
                <td>@schedule.duration minutos</td>
            </tr>
            }
    </tbody>
    </table>
}
